# dependencies
client/node_modules
server/venv
/.pnp
.pnp.js

# production
client/build

# app data
*.pyc
server/invoices/*
server/qoutes/*
server/*.db

# logs
*.log
*.log.*

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
